* {
  margin: 0;
  padding: 0;
}
/* body {
  background-color: #ababab;
} */
.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 30px auto;
  background-color: #fff;
  gap: 10px;
  padding: 20px;
}
.box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.logo-image {
  width: 80px;
  margin: 20px auto;
  background-color: #fdebeb;
  border-radius: 8px;
  border: 1px solid #f8d2d2;
}
.input-field {
  width: 100%;
  outline: 1px solid #b0c6e0;
  border: none;
  padding: 10px;
  border-radius: 4px;
  text-align: start;
  font-size: 16px;
}
.input-field:focus {
  outline: 1px solid #b0c6e0;
}

.add-btn {
  width: auto;
  margin-left: 5px;
  background: red;
  border: 1px solid #ababab;
  padding: 12px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  user-select: none;
}
.add-btn:hover {
  cursor: pointer;
}
.single-list-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 8px 10px;
  margin-top: 5px;
  background-color: #ddeafa;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  user-select: none;
}
.checked-list-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 8px 10px;
  margin-top: 5px;
  background-color: #e8e8e8;
  border-radius: 5px;
  font-size: 18px;
  user-select: none;
}
.checked-list-container span {
  text-decoration: line-through;
  color: #ababab;
}
.list-container {
  display: flex;
  gap: 10px;
}

.delete-btn {
  background: #dfdede;
  padding: 2px 5px;
  border: none;
  color: #aaaaaa;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.delete-btn:hover {
  background-color: red;
  color: #f5f5f5;
}
.check-btn {
  background: #ffffff;
  padding: 2px 5px;
  border: none;
  color: rgb(175, 152, 251);
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}
.check-btn:hover {
  background-color: #2875f1;
  color: #fff;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #f8d7d7;
  border-radius: 20px;
}
